@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #fefefe;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  background-color: #070F1B;
  box-sizing: border-box;
  /* background: rgb(50,0,129);
  background: linear-gradient(135deg, rgba(50,0,129,1) 0%, rgba(2,2,84,1) 50%, rgba(27,0,46,1) 100%); */
}

.markdown-content h1 {
  font-size: 1.5rem;
  margin-top: 1rem;
  font-weight: bold;
}
.markdown-content h2 {
  font-size: 1.25rem;
  margin-top: 0.75rem;
  font-weight: bold;
}
.markdown-content p, .markdown-content li {
  margin: 0.5rem 0;
}
.markdown-content ul {
  list-style: disc;
  margin-left: 1.5rem;
}
.markdown-content strong {
  font-weight: bold;
}
